# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment & Secrets
.env
.env.*
*.env

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.iml

# Docker
*.override.yml

# OS
.DS_Store
Thumbs.db
